* {
    overflow: hidden;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.controls {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background: #dddA;
}